.DS_STORE

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Visual Studio Code Files
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/*
